* {
  box-sizing: border-box;
}

.container {
  top: 0;
  left: 0;
  width: 1600px;
  height: 1195px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.position-relative {
  position: relative;
}
