* {
  box-sizing: border-box;
}

.container {
  top: 0;
  left: 0;
  width: 1600px;
  height: 1195px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: calc(100%);
}

.column-width-766 {
  width: 766px;
}

.column-width-367 {
  width: 367px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.top-0 {
  top: 0;
}

.top-18 {
  top: 18px;
}

.top-30 {
  top: 30px;
}

.top-23 {
  top: 23px;
}

.top-46 {
  top: 46px;
}

.top-45 {
  top: 45px;
}

.top-108 {
  top: 108px;
}

.left-0 {
  left: 0;
}

.left-18 {
  left: 18px;
}

.left-473 {
  left: 473px;
}

.left-50 {
  left: 50px;
}

.left-498 {
  left: 498px;
}

.left-1216 {
  left: 1216px;
}

.width-16 {
  width: 16px;
}

.width-63 {
  width: 63px;
}

.width-367 {
  width: 367px;
}

.width-211 {
  width: 211px;
}

.width-663 {
  width: 633px;
}

.width-1564 {
  width: 1564px;
}

.width-1600 {
  width: 1600px;
}

.width-full {
  width: 100%;
}

.height-17 {
  height: 17px;
}

.height-19 {
  height: 19px;
}

.height-48 {
  height: 48px;
}

.height-63 {
  height: 63px;
}

.height-72 {
  height: 72px;
}

.height-1195 {
  height: 1195px;
}

.position-relative {
  position: relative;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}
