.opacity-1 {
  opacity: 1;
}

.background-ffffff {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.background-testlogo {
  background: red;
}

.background-container {
  background: #f6f7f8 0% 0% no-repeat padding-box;
}

.border-radius-70 {
  border-radius: 70px;
}

.list-style-none {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
