.lab-results-container {
  position: absolute;
  top: 880px;
  left: 1215px;
  width: 367px;
  height: 296px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.lab-results-title {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 137px;
  height: 33px;
  text-align: left;
  font: normal normal 800 24px/33px Manrope;
  letter-spacing: 0;
  color: #072635;
}

.lab-blood-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.lab-blood-title {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 100px;
  height: 18px;
  text-align: left;
  font: normal normal normal 13px/18px Manrope;
  letter-spacing: 0;
  color: #072635;
  text-transform: capitalize;
}

.download-icon {
  position: absolute;
  top: 10px;
  left: 279px;
  width: 20px;
  height: 20px;
  background: transparent
    url('../../public/images/download_FILL0_wght300_GRAD0_opsz24\ \(1\).jpg') 0%
    0% no-repeat padding-box;
}

.lab-results-container ul {
  position: absolute;
  top: 69px;
  left: 20px;
  width: 315px;
  height: 200px;
  overflow-y: scroll;
}

.lab-results-container ul li {
  position: relative;
  width: 315px;
  height: 40px;
}
